.page {
  background-color: rgb(150, 191, 16, 1);
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1 {
  align-items: center;
}

.header {
  text-align: center;
}

.formEl {
  border-radius: 50px;
  height: 40px;
  border: #fff 1px solid;
  margin: auto 5px;
  color: #fff;
}

.formEl1 {
  background-color: rgb(150, 191, 16, 1);
  padding: 0 15px;
}

.formEl1:focus {
  border: #fff 3px solid;
  outline: none;
}

.formEl1:autofill {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: rgb(255, 255, 255, 0.4);
  text-align: center;
}

.formEl2 {
  background-color: #fff;
  color: rgb(150, 191, 16, 1);
  font-weight: 500;
}
