@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.d-flex {
  display: flex;
  justify-content: space-around;
}

.brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
}

/* ============================================================
Login and SignUp Form CSS
=============================================================== */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-form {
  margin-top: 10%;
  width: 60%;
  max-width: 400px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* sidebar */

.iaPPJZ {
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  background-color: #fff;
  color: #000;
}

.active .sc-hTBuwn {
  background-color: #96bf10;
  color: #fff;
}

.sc-hTBuwn .fa,
.sc-cOxWqc .fa {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .Auth-form {
    width: 80%;
  }
}

.devImage {
  text-align: center;
}

.rating {
  text-align: center;
  width: 50%;
}
